html {
    position: relative;
    min-height: 100%;
    background-color: #1f1f1f;
    color: white;
    background-image: url('https://static.hbo.com/the-white-lotus-ka-1920.jpg');
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    display: grid;
    backdrop-filter: blur(10px);
    height: 100%;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.centered div {
    align-self: center;
}

.centered h1, h5, p {
    text-align: center;
}

.centered li {
  list-style: none;
  text-align: center;
}

.centered iframe {
    align-self: center;
    margin-top: 2rem;
}

#Title {
    background-color: #303030;
    border-radius: 10%;
    padding: 1rem;
    align-self: center;
}

#CoverArt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 15%;
}

#IMDB {
  margin-top: 0.5rem;
  height: 4rem;
  align-self: center;
}

#Summary {
    background-color: #303030;
    border-radius: 10%;
    padding: 1.5rem;
    margin: 1.5rem;
    width: 30rem;
    align-self: center;
}

#Actors {
    background-color: #303030;
    border-radius: 10%;
    padding: 1.5rem;
    margin: 1.5rem;
    width: 10rem;
    align-self: center;
}