html {
  background-color: grey; 
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  display: grid;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.centered div {
    align-self: center;
}

.centered h1, h5, p, li {
    text-align: center;
}

.centered iframe {
    align-self: center;
}

#CoverArt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 20%;
}

#Summary {
    background-color: dimgray;
    border-radius: 10%;
    padding: 10px;
}